.banner{
    width: 100%;
  
}
.heros {
    display: grid;
    width: 90%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.hero > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
.setB{
    background-color: #FF9900;
}